<h1>U S E R S</h1>
<div class="container" style="margin: auto;"> 
<% users.forEach(u => { %>
<div  class="row" >
  
    <div class="col s4 offset-s4">
      <div class="card">
        <div class="card-image">
          <img src="<%= u.pic %> " >
          
        </div>
        <div class="card-action" style="background-color: black;">
          <a href="/profile/guest/<%= u.id %> "><%= u.username %> </a>
        </div>
        <div class="card-content">
          <p><%= u.bio %> </p>
        </div>
      </div>
    </div>
  
</div>
  <% }) %>
</div>