<h1>U S E R S</h1>
<div class="container" style="margin: auto;"> 
<% users.forEach(u => { %>
<div  class="row" >
  <div class="flexbox">
    <div class="col s6 center-align">
      <div class="card">
        <div class="card-image">
          <img src="<%= u.pic %> " style="width: 350; height: auto;">
          
        </div>
        <div class="card-action" style="background-color: black;">
          <a href="/profile/guest/<%= u.id %> "><%= u.username %> </a>
        </div>
        <div class="card-content">
          <p><%= u.bio %> </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <% }) %>
</div>